.numpad {
	display: grid;
	grid-template-columns: repeat(4, 1fr);

	&__button {
		text-align: center;
		font-size: 4rem;
		color: var(--color-gray-light);
		padding: 2rem;
		border: 1px solid var(--color-gray-light);
		cursor: pointer;

		&--button0 {
			grid-column: 1 / 3;
		}
	}
}
