.numpad {
	&__button {
		text-align: center;
		font-size: 2rem;
		color: var(--color-gray-light);
		padding: 2rem;
		border: 1px solid var(--color-gray-light);
		cursor: pointer;

		&--0 {
			grid-column: 1 / 3;
		}
	}
}
